a {
    color: #0066cc;
    text-decoration: none;
    display: block;
    font-size: 50px;
    margin: 15px;
}

a:hover {
    color: #004499;
    text-decoration: underline;
}

a:visited {
    color: #000000;
}
